{% extends 'CoreOmegaBundle:Layout:base.html.twig' %}

{% block content %}
    <div class="header-main">
        <h1 style="margin: 10px 0 10px 0;">
            {% if parcel.id is not empty %}
                {{ 'header.adminParcelEdit' |trans({'%trackId%': parcel.trackId})|raw }}
            {% else %}
                {{ 'header.adminParcelCreate' |trans()|raw }}
            {% endif %}
        </h1>
    </div>

    <div class="main">
        <div class="m-box mn-or-info">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="field-for-group cleared">
                <div class="input-group cleared">
                    {{ form_label(form.connection, null, {'label_attr' : {'class': 'label-common'}}) }}
                    {{ form_errors(form.connection) }}
                    {{ form_widget(form.connection, {'attr': {'class': 'input-field', 'style': 'width: 320px;'}}) }}
                </div>

                <div class="input-group cleared">
                    {{ form_label(form.orderId, null, {'label_attr' : {'class': 'label-common'}}) }}
                    {{ form_errors(form.orderId) }}
                    {{ form_widget(form.orderId, {'attr': {'class': 'input-field', 'style': 'width: 320px;'}}) }}
                </div>
            </div>

            <div class="field-for-group cleared">
                <div class="input-group cleared">
                    {{ form_label(form.trackId, null, {'label_attr' : {'class': 'label-common'}}) }}
                    {{ form_errors(form.trackId) }}
                    {{ form_widget(form.trackId, {'attr': {'class': 'input-field', 'style': 'width: 320px;'}}) }}
                </div>

                <div class="input-group cleared">
                    {{ form_label(form.isClosed, null, {'label_attr' : {'class': 'label-common'}}) }}
                    {{ form_errors(form.isClosed) }}
                    {{ form_widget(form.isClosed) }}
                </div>
            </div>

            {% block form_appendix %}
            {% endblock %}

            <div class="field-for-group cleared">
                <div class="input-group cleared">
                    <input type="submit" name="submit" value="{{ 'button.save' |trans()|raw }}" class="btn small btn-save"/>
                </div>
            </div>

            {{ form_end(form) }}
        </div>

        <div id="push"></div>
    </div>
{% endblock%}
