{% extends 'CoreOmegaBundle:Layout:base.html.twig' %}

{% block content %}
    <div class="header-main">
        <h1 style="margin: 10px 0 10px 0;">{{ 'header.listConnection'|trans()|raw }}</h1>
    </div>

    <div class="main">
        <div style="margin: 5px 0 15px 0;">
            <a href="{{ path(route ~ '_admin_list') }}" class="btn small btn-save">
                {{ 'button.listConnection'|trans()|raw }}
            </a>
            {% if is_granted('ROLE_DEVELOPER') %}
            <a href="{{ path(route ~ '_admin_parcel_new') }}" class="btn small btn-save">
                {{ 'button.addTracking'|trans()|raw }}
            </a>
            {% endif %}
        </div>
        <table class="modern-table">
            <tr>
                <th style="text-align: left">{{ 'label.trackId'|trans()|raw }}</th>
                <th style="text-align: left">{{ 'label.orderId'|trans()|raw }}</th>
                <th style="text-align: left">{{ 'label.connection'|trans()|raw }}</th>
                <th style="text-align: center">{{ 'label.isClosed'|trans()|raw }}</th>
            </tr>
            {% for track in pagination %}
                <tr>
                    <td style="text-align: left">
                        <a href="{{ path(route ~ '_admin_parcel_edit', {'parcelId': track.id}) }}">{{ track.trackId}}</a>
                    </td>
                    <td style="text-align: left">
                        {{ track.orderId}}
                    </td>
                    <td style="text-align: left">
                        <a href="{{ path(route ~ '_admin_edit', {'connectionId': track.connection.id}) }}">{{ track.clientId}}</a>
                    </td>
                    <td style="text-align: center">
                        {% if track.isClosed %}
                            <img src="{{ asset('bundles/coreomega/images/mark-yes.svg') }}" style="width: 20px; height: 20px;"/>
                        {% else %}
                            <img src="{{ asset('bundles/coreomega/images/mark-no.svg') }}" style="width: 20px; height: 20px;" />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="list-bottom">
            <div class="list-total-stripe">
                <span id="list-total-count">
                    {{ pagination.getTotalItemCount }} <span>{{ 'pagination.items.name'|trans()|raw }}</span>
                </span>
            </div>
            <div class="paginator">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <div id="push"></div>
    </div>
{% endblock%}
