{% form_theme form 'DeliveryCoreBundle:Form:configure.html.twig' %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="{{ asset('bundles/coreautomate/css/connect.css') }}" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    </head>

    <body>
        <div class="wrapper" style="width:100%;">
            <div class="top">
                <div class="header">
                    <div>
                        {% block logo %}{% endblock %}
                    </div>
                </div>
                <div class="blue_line"></div>
            </div>
            <div class="content">
                <div class="form-style-5">
                    {% block form %}
                        <div style="text-align: justify; margin-bottom: 10px;">
                            {{ form_errors(form) }}
                        </div>

                        <form name="connection" method="post" {{ form.vars.data.clientId is not empty ? ('action="' ~ path(route ~ '_configure_edit', {'clientId': form.vars.data.clientId}) ~ '"')|raw }} >
                        {{ form_start(form) }}

                            {% block form_delivery %}
                            {% endblock %}

                            <fieldset>
                                <legend class="header_form_text">{{ 'header.configureConnection'|trans }}</legend>
                                {{ form_widget(form.crmUrl, {'attr': {'value': account}}) }}
                                {{ form_errors(form.crmUrl) }}

                                {{ form_widget(form.crmKey) }}
                                {{ form_errors(form.crmKey) }}

                                {{ form_widget(form.language) }}
                                {{ form_errors(form.language) }}
                            </fieldset>

                            {% block form_delivery_after %}
                            {% endblock %}

                            <div style="display: none">
                                {{ form_rest(form) }}
                            </div>
                            <input type="submit" value="{{ (form.vars.data.clientId is not empty ? 'button.save' : 'button.activate')|trans }}" />

                        {{ form_end(form) }}
                    {% endblock %}

                </div>
            </div>
            <div class="footer">

            </div>
        </div>
    </body>
</html>

